{% extends 'index.html' %}

{% block pay %}
<div class="card-group container main">
    <div class="card card-body">
      <p class="b1">
        {{ form.text(type="text", class="pole", size=30) }}

        {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

      </p>
      <p class="b2" style="margin-top:0;border:0;">{{ form.sub(type="submit", class="btn-for") }}</p>
    </div>
    <div class="card card-body lop">

        <a href="/log" type="button" class="btn-for b1">ВОЙТИ</a>
        <a href="/reg" type="button" class="btn-for b2">ЗАРЕГИСТРИРОВАТЬСЯ</a>

    </div>
</div>
{% endblock %}